---
import { Image } from "astro:assets";
import YptHero from "~/assets/pages/services/ypt/ypt-hero.png";
import heroCover from "~/assets/covers/hero-cover.png";
---

<section class="px-edge py-10 lg:py-20 relative lg:min-h-[1000px]">
  <Image
    class="absolute inset-0 h-full object-cover"
    quality={100}
    src={YptHero}
    alt="woman smiling in athletic clothes"
  />
  <div class="xl:hidden w-full h-full bg-black/50 absolute inset-0"></div>
  <Image
    class="absolute left-0 bottom-0 right-0"
    src={heroCover}
    alt="decorative wave cover"
  />
  <div class="max-w-screen-2xl mx-auto relative z-10">
    <div
      class="my-10 lg:mt-52 max-w-[590px] mx-auto lg:mx-0 text-center lg:text-left"
    >
      <h1 class="font-oswald font-medium text-2xl text-white">
        Youth Personal Training
      </h1>
      <h2 class="mt-2 font-oswald font-bold text-5xl text-white">
        Improve Athleticism, Strengthen, and Recover From Injuries
      </h2>
      <p class="mt-5 text-white text-lg">
        Whether you are looking to make a varsity team, recover from an injury,
        or prepare for collegiate level sports, I build individually designed
        training plans to help you feel and move your best.
      </p>
      <a
        href="/your-fitness-journey"
        class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
        >Start Your Fitness Journey For Free</a
      >
    </div>
  </div>
</section>
