---
import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Simply Sprout Starter",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <section class="px-edge py-10 lg:py-20">
    <div class="max-w-screen-xl mx-auto">
      <h1>Hi</h1>
    </div>
  </section>
</Layout>
