---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import Services from "@sections/Services.astro";
import Outcomes from "@sections/Outcomes.astro";
import WhyUs from "@sections/WhyUs.astro";
import Roadblocks from "@sections/Roadblocks.astro";
import Testimonials from "@sections/Testimonials.astro";
import CTA from "@sections/CTA.astro";

// Images
import heroImg from "@imgs/hero-bg.png";
import heroCover from "@imgs/covers/hero-cover.png";
---

<Layout
  seo={{
    title: "TWR Fitness",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <section class="px-edge py-10 lg:py-20 relative lg:min-h-[1000px]">
    <Image
      class="absolute inset-0 h-full object-cover"
      quality={100}
      src={heroImg}
      alt="woman smiling in athletic clothes"
    />
    <div class="xl:hidden w-full h-full bg-black/50 absolute inset-0"></div>
    <Image
      class="absolute left-0 bottom-0 right-0"
      src={heroCover}
      alt="decorative wave cover"
    />
    <div class="max-w-screen-2xl mx-auto relative z-10">
      <div
        class="my-10 lg:mt-52 max-w-[590px] mx-auto lg:mx-0 text-center lg:text-left"
      >
        <h1 class="font-oswald font-medium text-2xl text-white">
          Needham’s Premier Private Fitness Studio
        </h1>
        <h2 class="mt-2 font-oswald font-bold text-5xl text-white">
          Do You Want a Body That Is Happier, Healthier, and Full of Energy?
        </h2>
        <p class="mt-5 text-white text-lg">
          Getting a healthy body is hard, here at TWR Fitness we make it easy,
          regardless of your goals. Receive your FREE custom plan to a healthier
          body below.
        </p>
        <a
          href="/your-fitness-journey"
          class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
          >Start Your Fitness Journey For Free</a
        >
      </div>
    </div>
  </section>

  <Services />
  <Outcomes />
  <WhyUs />
  <Roadblocks />
  <Testimonials />
  <CTA />
</Layout>
