---
import { Image } from "astro:assets";
import NavMenu from "./NavMenu";
const links = [
  { linkText: "Home", link: "/" },
  { linkText: "About", link: "/about" },
  {
    linkText: "Services",
    link: "/services",
    sublinks: [
      {
        linkText: "Adult Personal Training",
        link: "/services/adult-personal-training",
      },
      {
        linkText: "Youth Personal Training",
        link: "/services/youth-personal-training",
      },
      {
        linkText: "Soccer Skill Development",
        link: "/services/soccer-skill-development",
      },
    ],
  },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;

import logo from "@imgs/logo.png";
---

<header class={(className ? className : "") + " px-edge relative bg-bg"}>
  <div class="mx-auto flex max-w-screen-2xl items-center justify-between py-4">
    <a href="/">
      <Image src={logo} height={100} alt="twr logo" />
    </a>

    <NavMenu links={links} client:load />
  </div>
</header>
