---
import { Image } from "astro:assets";
import NavMenu from "./NavMenu";
const links = [
  { linkText: "Home", link: "/" },
  { linkText: "About", link: "/about" },
  {
    linkText: "Services",
    link: "/services",
    sublinks: [
      { linkText: "Service One", link: "/services/service-one" },
      { linkText: "Service Two", link: "/services/service-two" },
      { linkText: "Service Three", link: "/services/service-three" },
    ],
  },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;

import logo from "@imgs/logo.png";
---

<header class={(className ? className : "") + " px-edge relative"}>
  <div class="mx-auto flex max-w-screen-2xl items-center justify-between py-4">
    <a href="/">
      <Image src={logo} height={100} alt="twr logo" />
    </a>

    <NavMenu links={links} client:load />
  </div>
</header>
