---
import { Image } from "astro:assets";
import cover from "~/assets/covers/top-cover.png";
import whyUsImage from "~/assets/why-us.png";
---

<section class="bg-bg px-edge py-10 lg:py-20 relative">
  <Image
    class="absolute left-0 top-0 right-0"
    quality={100}
    src={cover}
    alt="cover"
  />

  <div
    class="max-w-screen-2xl mx-auto relative z-10 flex gap-10 flex-col lg:flex-row items-center justify-between"
  >
    <Image src={whyUsImage} alt="personal trainer tristain" />
    <div class="max-w-xl text-center lg:text-right">
      <p class="font-oswald text-2xl">Why TWR Fitness?</p>
      <h2 class="mt-2 font-oswald font-bold text-4xl text-text-dark">
        Unleashing <span class="text-primary-lighter">Your Full Potential</span>
        Is at the Core of <span class="text-primary-lighter">What I Do!</span>
      </h2>
      <p class="mt-5 text-lg">
        TWR Fitness is a small, privately owned training facility. It’s just me
        an my clients who, as we work to build a relationship as trainer-client,
        feel like they are working with a friend who knows them, cares about
        them, and provides a level of service only available in a setting like
        this.
      </p>
      <a
        href="/"
        class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
        >Start Your Fitness Journey For Free</a
      >
    </div>
  </div>
</section>
